
<table class="table table-hover mat-elevation-z8">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
        <th scope="col">Idade</th>
        <th scope="col">Telefone</th>      
        <th scope="col">Setor</th>      
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of colaboradores">
            <td>{{ col?.id }}</td>
            <td>{{ col?.nome }}</td>
            <td>{{ col?.cpf }}</td>
            <td>{{ col?.email }}</td>
            <td>{{ col?.idade }}</td>
            <td>{{ col?.telefone }}</td>
            <td>{{ col?.setor.descricao }}</td>
            <td ><button mat-flat-button color="accent" routerLink="/colaborador-detalhes/{{col.id}}" selected>Detalhes</button></td>
      </tr>
    </tbody>
    <nav aria-label="...">
      <ul style="margin-left: 180px;margin-top:-10px;" class="pagination"  *ngIf="!pageColaborador?.content" >
        <li *ngFor="let page of ' '.repeat(pageColaborador?.totalPages).split(''), let i = index " (click)="onSelect(i)" [class.active]="i === selectedPage" class="page-item"><a class="page-link" href="#">{{i}}</a></li>
      </ul>
    </nav>
</table>

